*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
hr{
    display: none;
}
body{
    background-color: #725737;
    color: white;
    position: relative;

    margin: auto;
}

header{
    background-color: #694410;
    max-width: 3000px;
    margin: auto;

    border-bottom: 1px solid;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    position: sticky;

    padding: 0 20px;
    
    top: 0;
}
header div#logo{
    max-width: 60px;
}
header div#logo img{
    width: 100%;
}
header nav{
    
}
header nav ul{
    display: flex;
    flex-flow: row nowrap;
}
header nav ul li{
    display: inline;
    white-space: nowrap;

    overflow: auto;
    
    padding-right: 5px;
}
header nav ul li a{
    color: unset;

    font-variant: small-caps;
    display: none;
}
header nav div#menu-celular{
    display: none;
}
header nav div#menu-celular span{
    font-size: 30px;
}
main{
    margin: auto;
}
main section{
    margin: auto;
    max-width: 1800px !important;

}
main section#um{
    background-color: transparent;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    padding: 100px 0 40px 100px;
    margin-top: 20px;
}
main section#um h1{
    max-width: 500px;

    font-size: 35px !important;
    font-weight: bold;

    padding-bottom: 15px;
}
main section#um p{
    max-width: 600px;

    letter-spacing: 1px;
    line-height: 25px;


    font-size: 18px;
}
main section#um div#lado-direito{
}
main section#um div.img{
    max-width: 170px;
}
main section#um img{
    width: 100%;
    border-radius: 20px;
}





/*Importância dos materiais recicláveis*/
main section#dois{
    background-color: #3a5033;

    padding: 20px 10px;

    max-width: 1500px;
}
main section#dois h2{
    text-align: center;

    padding: 0px 0 20px 0;

    font-size: 28px;
    font-weight: bold;
}
main section#dois > p{
    text-align: center;

    padding-bottom: 5px;
}
main section#dois div.imagens {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    

    white-space: nowrap;
    overflow: auto;

}
main section#dois div.imagens div.local-onde-vai-as-imagens {
    background-color: #535a64;
    border-radius: 10px;

    width: 250px;
    height: 250px;
    flex-shrink: 0;
    white-space: normal;
    overflow-x: scroll;

    padding: 20px;
    margin-top: 10px;
    margin-right: 10px;
}


  
main section#dois div.img-pequena{
    display: none;
    max-width: 50px;
}
main section#dois div.img-pequena img{
    width: 100%;
    
}
main section#dois div.imagens div.local-onde-vai-as-imagens h3{
    color: rgb(255, 165, 165);
    padding-bottom: 3px;
}
main section#dois div.imagens div.local-onde-vai-as-imagens p{
    
}




/*Energia Renovável*/

main section#tres{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding: 20px 0;
}
main section#tres h2{
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    padding: 10px 0 30px 10px;
}
main section#tres p{
    max-width: 500px;
}
main section#tres div#beneficios-desafios{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
main section#tres div#beneficios-desafios div#exemplo{
    background-color: #beddef;
    color: black;

    max-width: 300px;

    padding: 20px;
    margin: -10px 20px 20px 20px;

    border: 1px solid;
    border-radius: 20px;
    transition: 0.5s;
}
main section#tres div#beneficios-desafios div#exemplo:hover{
    transition: 0.5s;
    max-width: 90vw !important;
}
main section#tres div#beneficios-desafios div#exemplo div.icones{
    max-width: 100px;
    margin: auto;
}
main section#tres div#beneficios-desafios div#exemplo div.icones img{
    width: 100%;
}
main section#tres div#beneficios-desafios div#beneficios{
    background-color: #d1e2d0;
    color: black;

    max-width: 300px;

    padding: 20px;
    margin: -10px 20px 20px 20px;

    border: 1px solid;
    border-radius: 20px;
    transition: 0.5s;
}
main section#tres div#beneficios-desafios div#beneficios:hover{
    max-width: 90vw !important;
    transition: 0.5s;
}
main section#tres div#beneficios-desafios div#beneficios div.icones{
    max-width: 100px;
    margin: auto;
}
main section#tres div#beneficios-desafios div#beneficios div.icones img{
    width: 100%;
}
main section#tres div#beneficios-desafios div#beneficios h3{
    font-size: 22px;
    padding-bottom: 10px;
    text-align: center;
}
main section#tres div#beneficios-desafios div#beneficios p{
    padding: 10px 0;
}
main section#tres div#beneficios-desafios div#desafios{
    background-color: #fdb6b0;
    color: black;
    
    max-width: 300px;

    padding: 20px;
    margin: -10px 20px 20px 20px;

    border: 1px solid;
    border-radius: 20px;
}
main section#tres div#beneficios-desafios div#desafios:hover{
    max-width: 90vw !important;
    transition: 0.5s;
}
main section#tres div#beneficios-desafios div#desafios div.icones{
    max-width: 100px;
    margin: auto;
}
main section#tres div#beneficios-desafios div#desafios div.icones img{
    width: 100%;
}
main section#tres div#beneficios-desafios div#desafios h3{
    padding-bottom: 10px;
    font-size: 22px;
    text-align: center;
}
main section#tres div#beneficios-desafios div#desafios p{
    padding: 10px 0;
}
main section#tres div#exemplo{
    max-width: 320px ;

    padding: 20px;
    margin: auto;

    border: 1px solid;
    border-radius: 20px;
}
main section#tres div#exemplo h3{
    text-align: center;
}
main section#tres div#exemplo p{
    text-align: justify;
    line-height: 23px;
    padding: 10px 0;
}




/*Infografico Interativo*/
main section#quatro{
    max-width: 1800px;
    background-color: #725737;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding-top: 10px;
}
main section#quatro h2{
    text-align: center;
    font-weight: bolder;
    font-size: 28px;
    padding: 10px 0;
}
main section#quatro div.imagens-juntas{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-end;
}
main section#quatro div.imagens-juntas div.imagem{
    max-width: 300px;
    padding-bottom: 20px;
}
main section#quatro div.imagens-juntas div.imagem img{
    width: 100%;
    border-radius: 20px;
}


main section#quatro p{
    text-align: center;

    margin: auto;
    max-width: 600px;
}




/*Guia Pratico - Dicas Praticas*/
main section#cinco{
    padding: 20px 0;
    max-width: 1500px;
}
main section#cinco h2{
    text-align: center;
    padding: 5px 0 20px 0;
    font-size: 28px;
}
main section#cinco div#abrangente{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
main section#cinco div#secum, div#secdois, div#sectres{
    max-width: 280px;
    height: 300px;

    margin-bottom: 10px;
    padding: 20px;

    border-radius: 20px;
    border: 1px solid;
}
main section#cinco div#secum h3, div#secdois h3, div#sectres h3{
    font-weight: bold;
    padding-bottom: 10px;
}



/*Series de videos*/
main section#seis{
    background-color: #007071;
    padding: 20px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border-bottom: 1px solid;
    border-top: 1px solid;

    max-width: 1800px;
}
main section#seis h2{
    text-align: center;
    padding-bottom: 20px;
    font-size: 28px;
}
main section#seis div#abrangente-dois{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
main section#seis div#abrangente-dois div.foto-texto{
    max-width: 300px;
}

main section#seis div#abrangente-dois div.foto{
    padding: 20px;
    max-width: 300px;
    margin-bottom: 10px;
    cursor: pointer;
}
main section#seis div#abrangente-dois div.foto-texto div.foto img{
    width: 100%;
    border-radius: 20px;
}
main section#seis div#abrangente-dois div.foto-texto div.foto img {
    transition: all 0.4s ease;
  }
  
  main section#seis div#abrangente-dois div.foto-texto div.foto img:hover {
    border: 10px solid #228B22;
    box-shadow: 5px 5px 20px rgb(87, 87, 87);
  }
  
main section#seis div#abrangente-dois div.foto-texto p{
    text-align: justify;
    padding-bottom: 20px;
}







/*Mapas*/
main section#sete{
    padding: 20px;

}
main section#sete h2{
    text-align: center;
    font-size: 28px;
}
main section#sete ul{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
}
main section#sete ul li{
    display: inline;
    text-align: center;

    padding-bottom: 20px;
}
main section#sete ul li a{
    text-decoration: underline;
    color: lightblue;

    font-weight: bold;

}




/*Calculadora de impacto*/
main section#oito{
    background-color: #404952;
    padding: 40px 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
main section#oito h2{
    font-size: 28px;
}
main section#oito p{
    padding: 15px 0;
}
main section#oito input[type=number]{
    width: 100px;
    height: 40px;

    background-color: lightblue;
    color: black;

    border: 1px solid black;
    border-radius: 5px;

    padding: 10px;
    margin: 10px 0 0 0;
}
main section#oito button{
    background-color: rgb(39, 51, 55);
    margin: 20px 0 0 0;

    cursor: pointer;

    border: 1px solid;
    border-radius: 10px;

    padding: 10px;
}





footer{
    background-color: black;
    color: white;
}


/*CHAT*/
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
  }
  
  .conteudo-modal {
    background: lightgreen;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    max-width: 800px;
    width: 90%;
  }
  
  .conteudo-modal video {
    width: 100%;
    height: auto;
  }
  
  .fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: rgb(83, 223, 83);
    cursor: pointer;
  }
  